/**
 * Tomorrow Night theme for reveal.js.
 * Author: Tyler Benziger
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|BenchNine:400,700);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base00: #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #969896;
$base04: #b4b7b4;
$base05: #c5c8c6;
$base06: #e0e0e0;
$base07: #ffffff;
$base08: #cc6666;
$base09: #de935f;
$base0A: #f0c674;
$base0B: #b5bd68;
$base0C: #8abeb7;
$base0D: #81a2be;
$base0E: #b294bb;
$base0F: #a3685a;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base06;
$headingColor: $base07;
$headingTextShadow: none;
$backgroundColor: $base01;
$linkColor: $base0B;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $base0C;
$mainFont: 'Source Sans Pro', 'Ubuntu', sans-serif;
$headingFont: 'BenchNine', 'Source Sans Pro', 'Ubuntu', sans-serif;

.reveal .base00 { color: $base00; }
.reveal .base01 { color: $base01; }
.reveal .base02 { color: $base02; }
.reveal .base03 { color: $base03; }
.reveal .base04 { color: $base04; }
.reveal .base05 { color: $base05; }
.reveal .base06 { color: $base06; }
.reveal .base07 { color: $base07; }
.reveal .base08 { color: $base08; }
.reveal .base09 { color: $base09; }
.reveal .base0A { color: $base0A; }
.reveal .base0B { color: $base0B; }
.reveal .base0C { color: $base0C; }
.reveal .base0D { color: $base0D; }
.reveal .base0E { color: $base0E; }
.reveal .base0F { color: $base0F; }

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal h1 {
  font-size: 5em;
}

.reveal h2 {
  font-size: 4em;
}

.reveal h3 {
  font-size: 2.55em;
}

.reveal h4 {
  font-size: 2em;
}

.reveal h5 {
  font-size: 1.2em;
}

.reveal .slides {
  text-align: left;
}

.reveal pre {
  outline: none;
  font-size: 0.7em;
  width: auto;
  box-shadow: none;

  code {
    font-family: 'Source Code Pro', monospace;
    max-height: 700px;
    font-size: 28px;
    line-height: 1em;
  }
}

.reveal del {
  color: #444;
  text-decoration: none;
}

.reveal section img {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

.reveal h1 img,
.reveal h2 img,
.reveal h3 img,
.reveal h4 img,
.reveal h5 img {
  vertical-align: bottom;
}

.reveal section > p:first-child img {
  margin: auto;
  display: block;
}

.reveal .center {
  text-align: center;
}
